<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App - Health</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>System Health</h1>

        <div id="main-message">
            {{ message }}
        </div>

        <div>
            <a href="/" class="btn">Home</a>
        </div>
    </div>
</body>


</html>
